In [5]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Jason\\Documents\\Python\\Python_Project1'

In [6]:
# read file into dataframe
report = pd.read_csv("C:\\Users\Jason\Documents\Finances\Jan 2019.csv")

In [7]:
report

,Transaction Date,Post Date,Description,Category,Type,Amount,Unnamed: 6
0,1/29/2019,1/31/2019,TOTAL WINE AND MORE 2103,Food & Drink,Sale,-30.71,Alcohol
1,1/28/2019,1/29/2019,LA FITNESS,Health & Wellness,Sale,-47.68,Gym
2,1/28/2019,1/29/2019,MCALISTER'S #1079,Food & Drink,Sale,-8.99,Restaurant
3,1/28/2019,1/29/2019,TARGET 00007807,Shopping,Sale,-17.31,Misc
4,1/26/2019,1/27/2019,TARGET 00007807,Shopping,Sale,-36.00,Misc
...,...,...,...,...,...,...,...
70,1/5/2019,1/7/2019,KROGER #379,Groceries,Sale,-37.78,Groceries
71,1/4/2019,1/6/2019,KROGER #379,Groceries,Sale,-20.12,Groceries
72,1/1/2019,1/2/2019,KROGER FUEL #8379,Gas,Sale,-15.97,gas
73,1/1/2019,1/2/2019,KROGER FUEL #8379,Gas,Sale,-16.33,gas
74,12/30/2018,1/1/2019,MEIJER INC #160 Q01,Groceries,Sale,-4.05,Groceries